<%= render 'layouts/nav' %>

<main class="channels">
  <%= render 'layouts/modal' %>
  <%= render 'channels/nav' %>

  <section class='channels-api'>
    <%= render 'api' %>
  </section>   

  <section class='new-channel'>
    <%= render 'new' %>
  </section>


  <section class='search-channels'>
    <%= render 'search' %>
  </section>


  <section class='all-channels'>
    <h2>All channels</h2>
    
    <div class="pagination">
    </div>

    <ul id='channel-list'>
    </ul>
  </section>

</main>

<script type="text/javascript">
  $(function() {
    detectSection();
    $(window).on('popstate', detectSection);
    clearResultButton();  

    $('.channels nav a').click(function(e) {
      toggleSection($(e.target));
    }); 

    var channelRouter = new RailsApi.Routers.Channels();
  });
</script>
