@import 'mixins';

html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica';
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
}

a {
  color: $orange;
  text-decoration: none;
  &:hover {
    color: $light-text;
  }
}

h1, h2, h3, h4, h5, p, pre {
  margin: 0.3em 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button, input[type='submit'] {
  @include button-style;
}

input[type='text'] {
  border: 1px solid #ccc;
  padding: 3px 5px;
}
