@import 'mixins';

.welcome {
  width: 100%;
  min-height: 100%;
  overflow: auto;
  color: #333;
  padding: 3em 0;

  main {
    width: 800px;
    margin: 0 auto;
  }
}

.description {
  p {
    margin: .5em 0 .3em 0;
  }

  pre {
    margin: 0;
    font-size: 'Monospace';
    color: #4C728F;
  }
}

/* STATE */
.welcome section {
  display: none;
}

.welcome section.current {
  display: block;
}

.welcome a.current {
  text-decoration: underline;
}
