<!DOCTYPE html>
<html>
<head>
  <title>RailsApi</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'http://waywire.com/media/site/YH5PLD0V56XPX2RS/uploads/waywire-placeholder.png', rel: 'shortcut-icon', type: 'image/png' %>
  <%= csrf_meta_tags %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <div class="notify"></div>
  <div class="overlay"></div>

  <%= yield %>

</body>
</html>
